.introduction {
  padding              : 2.5rem 1.25rem;
  margin               : 0 auto;
  display              : grid;
  grid-template-columns: 1fr 2fr;
  gap                  : 6.25rem;
  align-items          : center;
}

.profile {
  width      : 22.5rem;
  height     : 32.5rem;
  margin-left: 1.25rem;
}

.profile img {
  border-radius: 8px;
}

.introduction article h1 {
  font-size    : 4.5rem;
  line-height  : 1.125;
  margin-bottom: 1.875rem;
  position     : relative;
}

.introduction article h1::before {
  content   : "";
  display   : block;
  width     : 8.125rem;
  height    : 6.25rem;
  background: url("../../../assets/icons/detail.svg") no-repeat center;
  position  : absolute;
  top       : -0.9375rem;
  left      : -2.5rem;
  z-index   : -1;
}

.introduction article p {
  font-size    : 1.5rem;
  color        : #525252;
  margin-bottom: 30px;
}

@media (max-width: 1000px) {
  .introduction article h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introduction {
    grid-template-columns: 1fr 1fr;
    gap                  : 2.5rem;
  }

  .introduction article h1 {
    font-size: 2rem;
  }

  .introduction article h1::before {
    width : 1.875rem;
    height: 0.625rem;
    left  : 0rem;
  }
}

@media (max-width: 670px) {
  .introduction {
    grid-template-columns: 1fr;
  }

  .profile {
    display: none;
  }
}