<footer class="footer animeLeft" id="contact">
  <div class="footer-container">

    <div>
      <p class="footer-text">Estou disponível para novos projetos no momento. Entre em contato comigo e marcamos
        uma conversa. 🖖</p>

      <ul class="footer-icon">
        <li>
          <a href="https://www.linkedin.com/in/gustavodantasmarim/" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/linkedin.svg" alt="ícone do LinkedIn" width="40" height="40">
          </a>
        </li>
        <li>
          <a href="https://github.com/gustavomarim" target="_blank" rel="noopener noreferrer">
            <img src="../../../../assets/icons/github-circle.svg" alt="ícone do Github" width="40" height="40">
          </a>
        </li>
      </ul>

      <app-contact-form [btnText]="btnText" (onSubmit)="createHandler($event)" />
    </div>

    <div *ngIf="enacomContact">
      <ul class="footer-contact">
        <li *ngFor="let contact of enacomContact.contact | keyvalue">
          <mat-icon *ngIf="contact.key === 'email'">
            mail
          </mat-icon>

          <mat-icon *ngIf="contact.key === 'tel'">
            phone
          </mat-icon>

          <mat-icon *ngIf="contact.key === 'name'">
            factory
          </mat-icon>

          {{contact.value}}
        </li>
      </ul>
    </div>
  </div>
</footer>