<section class="project animeLeft" id="projects">

  <h2 class=" subtitle">Projetos</h2>

  <div>
    <div class="project-grid">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Adoty</mat-card-title>
          <mat-card-subtitle>
            Plataforma para adoção de animais
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="img" src="../../../assets/images/adoty.png"
          alt="Imagem da tela principal do site Adoty">
        <mat-card-content>
          <p>
            Projeto desenvolvido com Angular 9, Node.js, Typescript, Rest API e banco de dados MySQL.
          </p>
          <br>
          <p>O sistema conta com as funcionalidades de: Cadastro de ONGs, Animais e Adotantes, persistindo as
            informações em um
            banco de dados, Sistema de Login e Autenticação via JWT, Fluxo de adoção de animais, Visualização de
            detalhes de Animais e ONGs (informações e fotos) e Sistema de integração com APIs.
          </p>
          <br>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button href="https://adoty.me/#/" target="_blank">Visitar</a>
          <a mat-flat-button href="" target="_blank" disabled>Github</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Time Tracking Dashboard</mat-card-title>
          <mat-card-subtitle>Painel de controle de tempo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="img" src="../../../assets/images/time-tracking-dashboard.png"
          alt="Imagem da tela principal do site Time Tracking Dashboard">
        <mat-card-content>
          <p>Projeto desenvolvido com HTML, CSS e Javascript.</p>
          <br>
          <p>A plataforma permite que os usuários sejam capazes de alternar
            entre a exibição de estatísticas diárias, semanais e mensais.
          </p>
          <p>
            Os estados de focos dos elementos são interativos, devolvendo uma resposta gráfica para ações de mouse na
            tela.
          </p>
          <p>Permite a visualização do layout ideal para o site, dependendo do tamanho da tela do dispositivo, seja
            smartphone, tablet e desktop.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button href="https://gustavomarim.github.io/time-tracking-dashboard/" target="_blank">Visitar</a>
          <a mat-flat-button href="https://github.com/gustavomarim/time-tracking-dashboard" target="_blank">Github</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Search Country</mat-card-title>
          <mat-card-subtitle>
            Plataforma de pesquisa de país (Rest)
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="img" src="../../../assets/images/search-country.png"
          alt="Imagem da tela principal do site Search Countries">
        <mat-card-content>
          <p>Projeto desenvolvido em Next.js eTypescript.</p>
          <br>
          <p>O site permite que que os usuários sejam capazes de:</p>
          <p>Visualizar todos os países da API na página inicial.</p>
          <p>Pesquisar um país usando um campo de entrada de dados.</p>
          <p>Filtrar países por região.</p>
          <p>Clicar no país para ver informações detalhadas da federação.</p>
          <p>Alternar o esquema de cores enter o modo claro e escuro, salvando a sessão no localhost.</p>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button href="https://search-countries-next-js.vercel.app/" target="_blank">Visitar</a>
          <a mat-flat-button href="https://github.com/gustavomarim/search-countries-next.js" target="_blank">Github</a>
        </mat-card-actions>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Intro Component</mat-card-title>
          <mat-card-subtitle>Formulário de cadastro reativo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="img" src="../../../assets/images/intro-component.png"
          alt="Imagem da tela principal da landing page Intro Component Form">
        <mat-card-content>
          <p>Projeto desenvolvido em React e Javascript.</p>
          <br>
          <p>O site permite que os usuários sejam capazes de:</p>
          <p>Visualizar o layout ideal para o site, dependendo do tamanho da tela do dispositivo.</p>
          <p>Visualizar os estados de foco para todos os elementos interativos na página.</p>
          <p>Receber uma mensagem de erro quando o formulário for enviado com informações incompletas ou campos
            inválidos.</p>
          <br>
          <br>
        </mat-card-content>
        <mat-card-actions>
          <a mat-flat-button href="https://intro-component-react.vercel.app/" target="_blank">Visitar</a>
          <a mat-flat-button href="https://github.com/gustavomarim/intro-component-react" target="_blank">Github</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>