<a mat-raised-button routerLink="/">Voltar</a>
<section class="about-container">

  <h1>Sobre Mim</h1>

  <p>
    Sou graduado em Ciência da Computação e especializado como desenvolvedor Front-end.
  </p>


  <p>
    Meu maior objetivo é poder transformar positivamente a vida das pessoas através da programação.
  </p>

  <p>
    👨🏽‍💻 Possuo 4 anos de vivência acadêmica e 1 ano e meio de experiência autodidata em construção de projetos
    pessoais,
    com foco em soluções voltadas a experiência do usuário e performance do sistema, utilizando boas práticas de
    desenvolvimento de software, agregada as mais recentes tecnologias do mercado.
  </p>

  <p>⚙️ Minhas Hard Skills:</p>
  <ul>
    <li>
      <p> ● Conhecimento sólido em HTML, CSS, JavaScript;</p>
    </li>
    <li>
      <p>● Conhecimento sólido nos frameworks front-end: Angular e React; </p>
    </li>
    <li>
      <p> ● Conhecimento de características do back-end: API Rest e SQL e NoSQL; </p>
    </li>
    <li>
      <p>● Conhecimento em SASS, Styled Components, TypeScript; </p>
    </li>
    <li>
      <p>● Clean Code; </p>
    </li>
    <li>
      <p> ● Domínio de fluxos de trabalho GIT; </p>
    </li>
  </ul>


  <p>
    🧠 Minhas Soft Skills: Colaborativo, facilidade de aprendizagem, flexibilidade e adaptabilidade, bom
    relacionamento
    interpessoal e comunicação.
  </p>

  <p>
    💡 Caso tenha interesse, todos os meus projetos estão disponíveis em meu portfólio no link:
    <strong>https://github.com/gustavomarim</strong>
  </p>

  <strong>
    "Porque nos sonhos entramos num mundo inteiramente nosso. Deixe que mergulhe no mais profundo oceano ou flutue na
    mais
    alta nuvem - Alvo Dumbledore. 🧙"
  </strong>
</section>