.experience {
  padding              : 2.5rem 1.25rem;
  margin               : 0 auto;
  display              : grid;
  grid-template-columns: 1fr 2fr;
  gap                  : 6.25rem;
}

.experience .subtitle {
  color: #e0e0e0;
}

.experience-text {
  font-style   : 1.5rem;
  line-height  : 1.33;
  max-width    : 40ch;
  margin-bottom: 3.75rem;
  color        : #525252;
}

.experience-text strong {
  color: #141414;
}

@media(max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
    gap                  : 2.5rem;
  }

  .experience .subtitle {
    color: #141414;
  }

  .experience-text {
    font-size: 1.25rem;
  }
}